*,
*:after,
*:before {
    box-sizing: border-box;
}

:root {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100%;
    font-family: sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    background-image: url(../img/tarihcemiz/tarihcemiz.jpg);
    background-color: #777;
    background-blend-mode: darken;
    background-position: center;
    background-size: cover;
    color: whitesmoke;
}

*:focus {
    outline-color: red;
    outline-offset: 0.6rem;
    text-decoration: underline;
    text-decoration-color: red;
}
body::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

body::-webkit-scrollbar-track {
    background: rgba(255, 112, 102, 0.342);
}

body::-webkit-scrollbar-thumb {
    width: 10px;
    height: 30px;
    background-color: rgba(83, 83, 83, 0.712);
    border-radius: 20px;
}

/* Header */

header {
    height: 4rem;
    width: 100%;
    background-color: #444;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-top: 5%;
}

.fa-university {
    font-size: 350%;
    color: whitesmoke;
    margin-bottom: 4%;
}

.logotext {
    margin-left: 2%;
    color: whitesmoke;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.logbuttons {
    margin-right: 2%;
}

.button {
    height: 2.5rem;
    width: 4.2rem;
    border-radius: 20px;
    font-size: 120%;
    font-weight: 700;
    color: whitesmoke;
    border: 0;
    transition: 50ms;
}

.button:hover {
    color:black;
    cursor: pointer;
}
.button:enabled {
    outline: 0;
}

.button:active {
    outline: 0;
    transform: translate(2px, 2px);
    box-shadow: 0px 0px;
}

.button:focus {
    outline: 0;
    transform: translate(2px, 2px);
    box-shadow: 0px 0px;
    text-decoration: none;
}

.buttona:focus {
    outline: none;
}

.signup {
    background-color: #ff5e42;
    box-shadow: rgb(197, 148, 148) 3px 3px;
    margin-right: 5px;
}

.signup:active {
    background-color: #ce2d11;
}

.login {
    background-color: #747dff;
    box-shadow: rgb(184, 172, 147) 3px 3px;
}

.login:active {
    background-color: #1821a8;
}

/* Navigation */

nav {
    top: 0%;
    width: 100%;
    height: 3.7rem;
    background-color: #666;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    font-size: 16px;
    font-weight: 650;
    margin-bottom: 4rem;
    z-index: 1;
}

#mainpage {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

.menu {
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
    text-align: center;
    transition: 200ms;
    cursor: pointer;
}

.home:hover {
    background-color: red;
}

.inmenu:hover {
    background-color: #444;
}

.sections:hover {
    background-color: red;
    height: 400%;
    transform: translateY(37.5%);
    align-items: center;
    flex-direction: column;
}

.sectionsnormal {
    display: flex;
    align-items: center;
}

.sectionshover {
    display: none;
    width: 100%;
    height: 100%;
}

.sections:hover .sectionshover {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.buyticketnormal {
    display: flex;
    align-items: center;
}

.buytickethover {
    display: none;
    width: 100%;
    height: 100%;
}

.buyticket:hover {
    background-color: red;
    height: 400%;
    transform: translateY(37.5%);
    flex-direction: column;
}

.buyticket:hover .buytickethover {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.aboutus {
    display: flex;
    flex-direction: column;
}

.aboutus:hover {
    background-color: red;
    height: 400%;
    transform: translateY(37.5%);
}

.aboutusnormal {
    display: flex;
    align-items: center;
}

.aboutushover {
    display: none;
    width: 100%;
    height: 100%;
}

.aboutus:hover .aboutushover {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu:hover .fa-chevron-down {
    transform: rotate(180deg);
}

.fa-chevron-down {
    font-size: 120%;
    margin-left: 7px;
    margin-bottom: 1%;
    transition: transform 500ms;
    color: whitesmoke;
}

/* Scroll Up Button */

.fa-chevron-circle-up {
    position: fixed;
    bottom: 5rem;
    right: 2.5rem;
    color: rgba(255, 91, 118, 0.63);
    font-size: 300%;
    box-shadow: 7px 7px 5px darkgray;
    border-radius: 50%;
    z-index: 1;
}

.fa-chevron-circle-up:hover {
    color: rgba(255, 38, 38, 0.904);
}

.fa-chevron-circle-up:focus {
    text-decoration: none;
}

/* Content */

main h1 {
    text-align: center;
    margin-bottom: 3rem;
}

main h2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.blablatext {
    width: 70%;
    margin: auto;
}

.blablatext p {
    font-size: 18px;
    line-height: 200%;
    text-align: justify;
}


/* Footer */

footer {
    color: whitesmoke;
    width: 100%;
    height: 3.7rem;
    background-color: #333;
    text-align: center;
    padding-top: 0.2rem;
    margin-top: 8rem;
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
}

/* Desktop Version */

@media screen and (min-width: 1000px) {

.flexphototext {
    flex-direction: row;
}

.photo {
    height: 100%;
    width: 50%;
    background-size: cover;
}

.text {
    height: 100%;
    width: 50%;
    margin-top: 15%;
}

.text p {
    width: 80%;
    margin: auto;
}

}

/* Mobile Small Screen */

@media screen and (max-width: 450px) {

    .fa-university {
        font-size: 320%;
    }
    
    .logotext {
        margin-left: 2%;
        font-size: 26px;
    }

    .fa-chevron-down {
        font-size: 100%;
        margin-left: 4px;
        margin-bottom: 1%;
    }

    nav {
        font-size: 15px;
        padding-right: 0.5rem;
    }

    #mainpage {
        padding-top: 0.09rem;
    }
    
    main p {
        font-size: 15px;
    }


}


@media screen and (min-height: 978px) {

footer {
    margin-top: 20rem;
}
    
}

@media screen and (min-height: 1100px) {
    
footer {
margin-top: 45rem;
}
        
}